body{
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
